<section class="authors">
    {% for author in page.authors %}
        <strong class="name">{{ author.name }}</strong>
        <span class="affiliation">{{ author.affiliation }}</span>

        {% if author.email %}
            <a class="icon" href="mailto:{{ author.email }}">
                <i class="far fa-envelope"></i>
            </a>
        {% endif %}

        {% if author.twitter %}
            <a class="icon" href="https://twitter.com/{{ author.twitter }}">
                <i class="fab fa-twitter"></i>
            </a>
        {% endif %}

        {% if author.github %}
            <a class="icon" href="https://github.com/{{ author.github }}">
                <i class="fab fa-github"></i>
            </a>
        {% endif %}

        {% if author.orcid %}
            <a class="icon" href="https://orcid.org/{{ author.orcid }}">
                <i class="fab fa-orcid"></i>
            </a>
        {% endif %}

        {% if author.website %}
            <a class="icon" href="{{ author.website }}">
                <i class="fas fa-external-link-alt"></i>
            </a>
        {% endif %}

    <br/>
    {% endfor %}
</section>