<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<!-- Twitter & Open Graph -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ site.twitter_site }}" />
	<meta name="twitter:creator" content="{{ site.twiiter_creator }}" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.opengraph_description }}" />
	<meta property="og:image" content="{{ site.url }}/assets/images/{{ site.opengraph_image }}" />

	<!-- BookReader JS dependencies -->
    <script src="/assets/BookReader/jquery-1.10.1.js"></script>
    <script src="/assets/BookReader/jquery-ui-1.12.0.min.js"></script>
    <script src="/assets/BookReader/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/BookReader/jquery.browser.min.js"></script>
    <script src="/assets/BookReader/dragscrollable-br.js"></script>
    <script src="/assets/BookReader/jquery.colorbox-min.js"></script>
    <script src="/assets/BookReader/BookReader.js"></script>
    <link rel="stylesheet" href="/assets/BookReader/BookReader.css"/>


	<!--[if lte IE 8]><script src="{{ "images/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oriya">
	<script src="https://kit.fontawesome.com/e078487c0b.js" crossorigin="anonymous"></script>
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "images/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "images/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
