
#open-library-collective p {
    margin: 0 0 1.5em 0;
    text-align: justify;
    font-family: Roboto;
    word-spacing: -1px;
}

.hr-divider {
    transform: translateX(-5%);
    width: 110%;
    border-bottom: solid 2px #585758;
}

[data-id="open-letter"]:hover {
    cursor: pointer;
}