.haiku {
		text-align: center;
		font-family: 'Oriya', serif;
		font-size: 24px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
		width: 48%;
	}

.poem-row {
  display: flex;
}